<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Edit Meme</title>
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">8Banter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/memes/create/<%= user.id %>">Post a Meme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/profile/<%= user.id %>">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/login">Login</a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h1>Create Meme</h1>

        <% if (error.length> 0) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>

                <% if (success_msg.length> 0) { %>
                    <div class="alert alert-success">
                        <%= success_msg %>
                    </div>
                    <% } %>

                        <form action="/memes/<%= meme.id %>/edit" method="POST">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required
                                    value="<%= meme.title %>">
                            </div>

                            <div class="form-group">
                                <label for="picture">Picture</label>
                                <div class="d-flex overflow-auto" style="white-space: nowrap; padding: 10px 0;">
                                    <!-- Add New Picture Card -->
                    <div class="card text-wrap" style="display: inline-block; width: 200px; margin-right: 10px;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Add New Picture</h5>
                            <div class="form-group">
                                <label for="pictureName">Name</label>
                                <input type="text" id="pictureName" name="pictureName" class="form-control"
                                    placeholder="Enter picture name">
                            </div>
                            <div class="form-group">
                                <label for="pictureUrl">URL</label>
                                <input type="url" id="pictureUrl" name="pictureUrl" class="form-control"
                                    placeholder="Enter picture URL">
                            </div>
                            <!-- Radio button for selecting new picture -->
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="newPicture" name="PictureId" value="new">
                                <label class="form-check-label" for="newPicture">New Picture</label>
                            </div>
                        </div>
                    </div>
                                    <!-- Existing Pictures -->
                                    
                                    <% pictures.forEach((picture) => { %>
                                        <div class="card text-wrap" style="display: inline-block; width: 200px; margin-right: 10px;">
                                            <label for="picture<%= picture.id %>" style="cursor: pointer; display: block;">
                                                <img src="<%= picture.dataValues.url %>" class="card-img-top" alt="<%= picture.name %>"
                                                    style="width: 100%; height: 150px; object-fit: cover;">
                                                    <div class="card-body text-center">
                                                        <h5 class="card-title d-flex align-items-center justify-content-center">
                                                            <input type="radio" id="picture<%= picture.id %>" name="PictureId" value="<%= picture.id %>" required class="me-2 flex-shrink-0" <%= picture.id== meme.PictureId? 'checked' : '' %>>
                                                            <span class="text-break"><%= picture.name %></span>
                                                        </h5>
                                                    </div>
                                            </label>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="topText">Top Text</label>
                                <input type="text" class="form-control" id="topText" name="topText"
                                    value="<%= meme.topText %>">
                            </div>

                            <div class="form-group">
                                <label for="bottomText">Bottom Text</label>
                                <input type="text" class="form-control" id="bottomText" name="bottomText"
                                    value="<%= meme.bottomText %>">
                            </div>

                            <div class="form-group">
                                <label for="tags">Select Tags</label>
                                <div class="d-flex flex-wrap">
                                    <% tags.forEach(tag => { %>
                                        <div class="form-check mr-3">
                                            <input type="checkbox" class="form-check-input" id="tag<%= tag.id %>"
                                                value="<%= tag.id %>" name="tags[]"
                                                <%= meme.Tags.some(e => tag.id == e.dataValues.id) ? 'checked' : '' %>>
                                            <label class="form-check-label" for="tag<%= tag.id %>">
                                                <%= tag.name %>
                                            </label>
                                        </div>
                                    <% }); %>
                                </div>
                                <input type="text" id="newTagName" name="newTagName" class="form-control mt-2"
                                    placeholder="Enter new tag name">
                            </div>

                            <button type="submit" class="btn btn-primary">Update Meme</button>
                        </form>
                        <br><br>
    </div>


</body>

</html>